#header{height: 60px;flex: 0 0 auto;}
    #layout-main{display: flex;flex-flow:row nowrap;}
    .sub-nav,.act-nav{background: #fff;}
    .main-nav{display: flex;flex-flow:column wrap;width: 90px;flex: 0 0 auto;background: #464c5b;}
    .main-nav .ivu-menu-vertical .ivu-menu-item{padding: 14px 0px 14px 18px;}
    .sub-nav{width: 90px;flex: 0 0 auto;}
    .sub-nav nav {
        padding: 13px 10px;
        width: 90px;
    }
    .sub-nav nav li {
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        margin-bottom: 14px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 2px;
    }
    .sub-nav .second-title {
        padding-left: 20px;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #f2f2f2;
    }
    
    .page,.layout-content{display: flex; flex-flow: row nowrap;-webkit-flex: 1;flex:1;}
    .page .ivu-row{flex: 1;}
    .content{flex: 1;}
    .act-nav{display: flex;flex-flow:column nowrap;width: 100%;height: 50px;line-height: 50px;border-bottom: 1px solid #f2f2f2;}
    .act-nav .ivu-menu-horizontal{height: 50px;line-height: 50px;}
    .funarea{background: #FFF;margin: 10px;padding: 15px;min-width: 750px;min-height: 500px;flex: 1;}
    .main-info,.page-help{background: #FFF;margin: 10px;padding: 15px;flex: 0 0 auto;}
    /*页脚*/
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    /*二级导航选中background: #f8f8f8;*/
    .router-link-active{background: #f8f8f8;}
    /*通用盒子*/
    .box{margin-bottom:15px;}
    /*表单搜索区*/
    .search-form {
        position: relative;
        padding: 20px 10px 10px;
        background: #f8f8f8;
        border: 1px solid #f2f2f2;
    }
    .search-form .ivu-form-item{margin-bottom: 10px;}