*,:after,:before{box-sizing:border-box}
html,body,#app{margin:0px; padding: 0px;height:100%;}
.ivu-row:after,.ivu-row:before{content:"";display:table}.ivu-row:after{clear:both;visibility:hidden;font-size:0;height:0}
#header{height: 60px;flex: 0 0 auto;}
.box900{width: 900px;height: auto;margin: 0 auto;}
.bp203 {border: 1px solid #dedede;padding: 20px; border-radius: 3px;}

/*分页*/
.paging{padding: 10px 0 10px 0; text-align: right;}
/*通用隐藏*/
.hide {display: none;}
.block{}
.block-no-data .block-body {min-height: 110px;}
.block-no-data .block-no-data-content {
    border: 1px solid #e5e5e5;
    padding: 28px 0 0 23px;
    min-height: 70px;
}
/*操作台*/
.funarea{background: #FFF;margin: 10px;padding: 15px;min-width: 750px;min-height: 500px;flex: 1;}
.main-info,.page-help{background: #FFF;/*margin: 10px;*/padding: 15px;/*flex: 0 0 auto;*/}
/**数据加载为空时***/
.empty{
    text-align: center;
    color: #e5e5e5;
}
/*返回顶部*/
.ivu-back-top-inner {
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
}
.ivu-back-top i {
    color: #fff;
    font-size: 24px;
    padding: 8px 12px;
}